// COMPONENT [ FOOTER ] ###############################################################################################
@import "scss/.base/module-index";

.oFooter {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  background-color: #f2f2f2;
  flex: 1 1 20%;
  max-height: 100px;
  padding: 40px;

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++
  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($xl-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
